.resume-results {
    max-width: 80%;
    margin: 50px auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    width: 90%;
    max-width: 1400px;
}

.result-section {
    margin-bottom: 20px;
}

.result-section h3 {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.result-section ul {
    list-style-type: square;
    padding-left: 20px;
}


.match-score {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.match-percentage {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50; /* Green color for emphasis */
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

